@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@media (max-width: 992px) {
  .text-logo {
    text-align: center;
  }
}

.error_filed {
  position: absolute;
  right: 30px;
  top: 20%;
  font-weight: 400;
  color: brown;
  padding: 2px 5px 2px 15px;
  z-index: 0;
}

.error_filed__option {
  position: absolute;
  right: 10px;
  top: -2px;
  font-weight: 400;
  color: brown;
  padding: 2px 5px 2px 15px;
  z-index: 0;
}

.required_field {
  border: 1px solid brown;
  border-radius: 6px;
}

/* Nav Bars */
.input_group input {
  background: rgb(231, 245, 241);
}

.input_group {
  background: rgb(222, 243, 238);
  position: relative;
}



.swal2-title {
  font-size: 25px !important;
}

.search__input i {
  left: 20px;
  top: 14px;
}

.nav__link__icon i {
  font-size: 26px;
}

.nav__link__icon li {
  width: 100%;
  display: flex;
  text-align: center;
}

.nav__link__icon a {
  width: 100%;
  padding: 6px;
}

.nav__link__icon .active {
  border-bottom: 3px solid rgb(0, 132, 255);
  color: rgb(0, 132, 255);
}

.nav__link__icon a {
  color: gray;
}

.profile__notify__button_group i {
  font-size: 22px;
}



/* Side Bars */
.sidebars__ui__main {

  height: calc(100vh-55px) !important;
}

.side__bar__user__memory i {
  font-size: 26px;
  padding: 6px;
}

.side__bar__user__memory a {
  color: rgb(68, 68, 68);
}

.side__bar__user__memory h5 {
  font-size: 18px;
}

.side__bar__user__memory li:nth-child(2) i {
  color: rgb(0, 140, 255);
}

.side__bar__user__memory li:nth-child(3) i {
  color: rgb(235, 91, 91);
}

.side__bar__user__memory li:nth-child(4) i {
  color: rgb(35, 93, 255);
}

.side__bar__user__memory li:nth-child(5) i {
  color: rgb(1, 58, 216);
}



/* Create Post */
.user__create__post i {
  font-size: 22px;
}

.user__create__post i {
  color: rgb(0, 197, 76);
}

.post___button i {
  font-size: 22px;
  margin-right: 8px;
}

/* MOdal */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* Dropdown Popup */
.dropdown-toggle::after {
  display: none !important;
}

.user__ui__un-following {
  padding: 5px;
  border-radius: 8px;
  transition: .2s;
}

.user__ui__un-following:hover {
  background-color: lightgray;
  margin-top: 2px;
}

.profile__nav__items {
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
}

.profile__nav__items:hover {
  background: lightgray;
}